# Ignore api key for kaggle. 
OCT_scan_classification/kaggle.json

# Ignore the training data set. Too large for git can be found at https://www.kaggle.com/datasets/paultimothymooney/kermany2018.
OCT_scan_classification/data/
